<app-navbar></app-navbar>
  
  <div class="container text-center">
    <div class="container text-center">
      <div class="container">
        <div class="d-flex flex-wrap">
          <div class="col-md-6 p-2" id="foto">
            <img src="../../assets/image/tamihome2.jpg" class="img-fluid">
          </div>
          <div class="col-md-6 p-2" id="mensagem">

            <h2>Meu Neném!</h2>
            <p>Falar do meu neném sempre se prova muito fácil, pois quando o <strong>amor</strong> se envolve, as palavras saem como se fosse enxurrada. Desde que te conheci, passamos por poucas e boas, muito vivemos em tão pouco tempo, honestamente falando, há coisas que teria feito de forma diferente, contudo nosso <strong>amor</strong> sempre triunfou, e continuará triunfante sobre qualquer adversidade.</p>

            <p>Falando sobre você, que tanto amadureceu nesse tempo, uma pessoa extremamente <strong>especial</strong>, que encanta todos a sua volta, uma <strong>beleza radiante</strong>, uma pena que a radiância acabe por te cegar inpedindo de enxergar isso em si mesma. Uma bondade que honestamente é difícil de encontrar nos dias de hoje, <strong>bondade</strong> essa que te fez me aceitar apesar de todos os meus defeitos e imperfeições, poderia falar aqui <strong>mil e uma outras qualidades</strong> que existem em você, entretanto não haveria espaço para isso, então espero que continue sendo essa mulher que tanto me orgulho de ter ao meu lado.<strong> Te amo Muito!❤️💜</strong></p>

          </div>
        </div>
      </div>
    </div>
